body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.nav {
    margin-bottom: 20px;
}

#h3Title {
    text-align: center;
    color: rgb(44, 48, 53);
    padding-bottom: 100px;
}

#icon {
    height: 50px;
    width: auto;
}

.info {
    background-color: rgb(44, 48, 53);
    color: lavender;
    padding: 20px;
}

#information {
    padding: 20px;
}

#eggshell {
    width: 100%;
    height: auto;
}